.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Header */

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  list-style: none;
  gap: 20px;
}

header a {
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

/* Main */
main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 400px 600px 500px 500px;
  row-gap: 10px;
  width: 860px;
  margin: 0 auto;
}

/* Footer */

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

footer ul {
  list-style: none;
  padding: 0;
}

.footer-section {
  /* width: minmax(300px, auto); */
  min-width: 300px;
}